
* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin-top: 0;
}

h1 {
    font-weight: bolder;
    font-size: small;
    color: rgb(122, 122, 122);
    margin: 0.5rem;
    
}


.purple {
    background-color: purple;
}

.gray {
    background-color: gainsboro;
}

.dark-gray {
    background-color: rgb(134, 134, 134);
}

.main-container {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.header {
    justify-content: left;
    width: auto;
    border-bottom: 1px solid gray;
}
    
.appcontainer{
    width:auto;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 0.2rem;
    border: 2px solid gray;
    
}

h3  {
    
    font-size: small;
    font-weight: 100;
    padding: 0.2rem;
    background-color:#00000049;
    margin: 0;
    
}

.viewer {
    flex-direction: column;
    position:relative;
    width: 70%;
    border-right: 2px solid gray;
    background-color: none;
    height: 100%;
    display: flex;
    
}

#three-canvas{
    height: 800px;
    position :relative;
    
    touch-action: true ;

}

#three-gui{
    position: absolute;
    right: 0;
    width: 50%;
    
}

.rightbar {
    flex-direction: column;
    background-color: aqua;
    width: 30%;
    /*height: 100%;*/
}